asgiref==3.2.3
Django==2.2.10
django-braces==1.13.0
django-ckeditor==5.8.0
django-cleanup==4.0.0
django-comments-xtd==2.4.2
django-contrib-comments==1.9.2
django-crispy-forms==1.8.1
django-js-asset==1.2.2
django-markdown2==0.3.1
django-model-utils==4.0.0
django-postman==3.6.2
django-star-ratings==0.9.1
django-taggit==1.2.0
djangorestframework==3.11.2
docutils==0.16
gunicorn==20.0.4
markdown2==2.3.8
Pillow==6.2.1
pytz==2019.3
six==1.13.0
sqlparse==0.3.0
swapper==1.1.1
