body{
  background-image: linear-gradient(to top ,skyblue,lightyellow);
  background-repeat: no-repeat;
  background-position: bottom;
  color: #333333;
}
article-content{
  color:whitesmoke;
}
.fade {
  color:whitesmoke;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}