.box{
    margin-left:2em;
    margin-right:2em;
    font-family: 'Poiret One', cursive;
}
.bg{
    color:whitesmoke;
    background-color: rgb(0, 0, 0);
}
.navbar {
    font-family: 'Megrim', cursive;
}

.site-header .navbar-nav .nav-link {
    color:whitesmoke;
}

.site-header .navbar-nav .nav-link:hover {
    color:whitesmoke;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;

}
hr{
    border:1px whitesmoke solid;
}

/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background-color:rgb(0, 0, 0);
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:whitesmoke;
}
#footer a {
    color:whitesmoke;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:whitesmoke;
}
#footer ul.social li a:hover{
	color:whitesmoke;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}

.signup_reg_user{
    position: relative;
    top:10px;
    left:390px;
    border: 2px solid whitesmoke;
    border-radius: 4px;
    box-shadow: 0px 0px 100px rgb(186, 186, 186);
    color: white;
}

/* Side Navbar */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(0, 0, 0); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

  /* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color:whitesmoke;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color:whitesmoke;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.card {
    border-radius: 12px;
    color:whitesmoke;
    background-color:black;
    position: relative;
    border:1px whitesmoke solid;
}

input, select, textarea{
      border: 1px rgb(182, 182, 182) solid;
      border-radius: 5px;
      background-color:rgb(0, 0, 0);
      color:whitesmoke;
}

.rounded-circle{
      height: 15vw;
}

.card-user{
      padding:1vh;
      background-color: #252422;
      border:2px black solid;
      border-radius: 10px;
      color:whitesmoke;
}
.icon{
    color:whitesmoke;
}

.search1{
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.search1:focus {
    width: 100%;
}

.vertical-right-aligned {
    transform: rotate(-90deg);
    transform-origin: 100% 100%;
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 100;
}
/* For book list display */
.col {
    flex: 10%;
    padding:2vh;
}
.row {
    display: flex;
}

a{
    text-decoration:none;
}