{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/book.css' %}">
    <link rel="stylesheet" href="{% static 'css/favorite.css' %}">
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
    <link rel="icon" href="media/default.jpg">
    <script src="https://kit.fontawesome.com/2f18b7f943.js" crossorigin="anonymous"></script>
  {% if title%}
  <title>Zoro - {{  title  }}</title>
  {%else%}
  <title>Zoro</title>
  {%endif%}
</head>

<body class="bg">
  <header class="site-header">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark navbar-fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="media/logo.svg" alt="Zoro" style="width:40px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
          aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{% url 'home' %}"><i class="fas fa-book-open"></i></a>
            <a class="nav-item nav-link" href="{% url 'blog-home' %}"><i class="fas fa-blog"></i></a>
          </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
            {% if request.user.is_authenticated %}
            <a class="nav-item nav-link" href="/messages" ><i class="fas fa-envelope"></i></a>
            <a class="nav-item nav-link" href="{% url 'profile' %}"><i class="fas fa-user-circle"></i> {{request.user.username}}</a>
            <a class="nav-item nav-link" href="{% url 'favorites' %}"><i class="far fa-star"></i></a>
            <a class="nav-item nav-link" href="{% url 'collection' %}"><i class="fas fa-bookmark"></i></a>
            <a class="nav-item nav-link" href="{% url 'home' %}"><i class="fab fa-readme"></i></a>
            <a class="nav-item nav-link" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i></a>
         </div>
            {% else %}
            <a class="nav-item nav-link" href="{% url 'about' %}"> About </a>
            <a class="nav-item nav-link" href="{% url 'login' %}"> LogIn </a>
            <a class="nav-item nav-link" href="{% url 'register' %}"> SignUp </a>
            {% endif%}
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main role="main" class="container" >
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a><img src="media/logo.svg" alt="Zoro" style="width:40px;"></a>
      <a class="nav-item nav-link" href="{% url 'book-create' %}">Start Book</a>
		  <a class="nav-item nav-link" href="{% url 'chapter-create' %}">Release Chapter</a>
		  <a class="nav-item nav-link" href="{% url 'genre' %}">Genre</a>
    </div>
    <span class="nav-item nav-link" onclick="openNav()">Author</span>
    {% if messages %}
      {% for message in messages %}
        <div class = "alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
    {% block  postman_menu %}
    {% endblock %}
      {% block content %}
      {% endblock content %}
</main>
  <br><br><br>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <!-- Footer -->
  <section id="footer">
      <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
          <div class="col-xs-12 col-sm-3 col-md-3">
            <h5>Reader</h5>
            <ul class="list-unstyled quick-links">
              <li><a href="{% url 'home' %}"><i class="fa fa-angle-double-right"></i>Home</a></li>
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Books</a></li>
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Favorites</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3">
            <h5>Author</h5>
            <ul class="list-unstyled quick-links">
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Author Search</a></li>
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Add Author</a></li>
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>View Author</a></li>
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Update Author</a></li>
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>#</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3">
            <h5>Book</h5>
            <ul class="list-unstyled quick-links">
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3">
            <h5>BooKeeper System</h5>
            <ul class="list-unstyled quick-links">
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Users Online : {{ request.online_now |length }}</a></li>
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i> Next Update: 01-01-2020</a></li>
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Update List </a></li>
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i> Get Author Badge</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
            <ul class="list-unstyled list-inline social text-center">
              <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
              <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
              <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
            </ul>
          </div>
          </hr>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
            <p><u><a href="#">BooKeeper</a></u></p>
            <p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="#" target="_blank">BooKeeper</a></p>
          </div>
          </hr>
        </div>
      </div>
    </section>
    <script>
      /* Set the width of the side navigation to 250px */
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
        }
  
        /* Set the width of the side navigation to 0 */
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
    </script>
</body>
</html>