{% extends 'user/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row justify-content-start text-center">
    <div class="col-md-7 card">
      <h1>Writer</h1><br>
  <h3 class="font-weight-light">A whole new experience for writer from our easy book and chapter release system</h3>
    </div>
    <div class="col-md-4 card">
      <img src="media/writer.svg" alt="Zoro" style="width:300px; height: 200px;">
    </div>
  </div>
  <div class="row justify-content-start text-center">
    <div class="col-md-4 card">
      <img src="media/search.svg" alt="Zoro" style="width:300px; height: 200px;">
    </div>
    <div class="col-md-7 card">
      <h3>Search system</h3>
    </div>
  </div>
<div class="row justify-content-start text-center">
    <div class="col-md-7 card">
      <h2>Updates</h2>
  <h3 class="font-weight-light">Writers can update their releases from anywhere and anytime</h3 class="font-weight-light">
    </div>
    <div class="col-md-4 card">
      <img src="media/update.svg" alt="Zoro" style="width:300px; height: 200px;">
    </div>
  </div>
<div class="row justify-content-start text-center">
    <div class="col-md-4 card">
      <img src="media/blog.svg" alt="Zoro" style="width:300px; height: 200px;">
    </div>
    <div class="col-md-7 card">
      <h3>Blog for chapter releases and updates</h3>
    </div>
  </div>
  <div class="row justify-content-start text-center">
    <div class="col-md-7 card">
  <h3>Find your companions for reading and make friends</h3>
    </div>
    <div class="col-md-4 card">
      <img src="media/friends.svg" alt="Zoro" style="width:300px; height: 200px;">
    </div>
  </div>
<div class="row justify-content-start text-center">
    <div class="col-md-7 card">
  <h3>Secure login system</h3>
    </div>
    <div class="col-md-4 card">
      <img src="media/login.svg" alt="Zoro" style="width:300px; height: 200px;">
    </div>
  </div>    
<div class="row justify-content-start text-center">
      <div class="col-md-4 card">
        <img src="media/like.svg" alt="Zoro" style="width:300px; height: 200px;">
      </div>
      <div class="col-md-7 card">
        <h3>Store your favourite 
        books and chapters</h3>
      </div>
    </div>
    <div class="row justify-content-start text-center">
      <div class="col-md-7 card">
    <h3>Add your fav books to collections</h3>
      </div>
      <div class="col-md-4 card">
        <img src="media/collection.svg" alt="Zoro" style="width:300px; height: 200px;">
      </div>
    </div>
    <div class="row justify-content-start  text-center">
        <div class="col-md-4 card">
            <img src="media/track.svg" alt="Zoro" style="width:300px; height: 200px;">
        </div>
        <div class="col-md-7 card">
        <h3>Track your reads! even with page numbers</h3>
        </div>
    </div>
    <div class="row justify-content-start  text-center">
        <div class="col-md-7 card">
            <h3>Send and receive messages...</h3>
        </div>
        <div class="col-md-4 card">
            <img src="media/message.svg" alt="Zoro" style="width:300px; height: 200px;">
        </div>
    </div>
{% endblock content %}
