{% extends "book/book_view.html" %}
{% load ratings %}
{% load comments %}
{% load comments_xtd %}

      <!-- Image -->
      {% block image %}
      <img src="{{book.image.url}}" alt="">
      {% endblock image %}
      <!--Name  -->
      {% block name %}
         <h1 class="card-title">{{ book.name }}</h1>
         <h6>Tags</h6>
         {% for tag in book.tags.all %}
            {{tag}}
         {% endfor %}
      {% endblock name %}
      <!-- Rating  -->
      {% block rating %}
      <h3>Ratings</h3>
      {% ratings book %}
        {% if book in user.favorite.all %}
          <a href="{% url 'favorite' book.id %}" style="color: red;"><i class="fas fa-heart"></i></a>
        {% else %}
          <a href="{% url 'favorite' book.id %}" style="color: red;"><i class="far fa-heart"></i></a>
        {% endif %} &nbsp;
      {% if request.user == book.author %}
        <a href="{% url 'book-update' book.id %}"><i class="far fa-edit"></i></a>
      {% endif %}
      {% endblock rating %}
      <!-- Genre -->
      {% block genre %}
      <h3>Genre</h3>
        {% for gen in book.genre.all %}
                <a class="mr-6" href="{% url 'genre-book' gen %}"><span class="badge badge-warning">{{gen}}</span></a>
        {% endfor %}<br>
      {% endblock genre %}
    <!-- Author -->
      {% block author %}
        <h3>Author(s)</h3>
          <a class="mr-6" href="{% url 'author-book' book.author %}" ><span class="badge badge-info" >{{book.author}}</span></a> |
      {% endblock author %}
    <!-- Icon -->
      {% block icon %}
      {% endblock icon %}
      <!-- Chpater -->
      {% block chapter %}
      <h4>Chapters</h4>
      {% for chapter in book.chapters.all %}
          <a class="mr-6" href="{% url 'chapter-detail' chapter.id %}" ><span class="badge badge-info" >{{chapter}}</span></a> |
      {% endfor %}
      {% endblock chapter %}
      <!-- Comment Form -->
      {% block commentform %}
          <div class="card-body">
            <h4 class="card-title text-center pb-3">Post your comment</h4>
              {% render_comment_form for book %}
          </div>
      {% endblock commentform %}

      <!-- Comments -->
      {% block comments %}
      <div class="comments">
        <h2 class="text-center">Comments</h2>
        {% render_xtdcomment_tree for book allow_flagging allow_feedback show_feedback  %}
      </div>
      {% endblock comments %}