{% extends "book/book_view.html" %}
{% load ratings %}
{% load threadedcomments_tags %}
      <!-- Image -->
      {% block image %}
      <img src="{{book.image.url}}" alt="">
      {% endblock image %}
      <!--Name  -->
      {% block name %}
         <h1 class="card-title">{{ book.name }}</h1>
         <h6>Tags</h6>
         {% for tag in book.tags.all %}
            {{tag}}
         {% endfor %}
      {% endblock name %}
      <!-- Rating  -->
      {% block rating %}
      <h3>Ratings</h3>
      {% ratings book %}
      <br><a href="{% url 'favorite' book.id %}"><i class="far fa-bookmark"></i></a> 
      | <a href="{% url 'book-update' book.id %}"><i class="far fa-edit"></i></a>
      {% endblock rating %}
      <!-- Genre -->
      {% block genre %}
      <h3>Genre</h3>
        {% for gen in book.genre.all %}
                <a class="mr-6" href="{% url 'genre-book' gen %}"><span class="badge badge-warning">{{gen}}</span></a>
        {% endfor %}<br>
      {% endblock genre %}
    <!-- Author -->
      {% block author %}
        <h3>Author(s)</h3>
        {% for auth in book.author.all %}
          <a class="mr-6" href="{% url 'author-book' auth %}" ><span class="badge badge-info" >{{auth}}</span></a> |
        {% endfor %}<br>
      {% endblock author %}
    <!-- Icon -->
      {% block icon %}
      {% endblock icon %}
      <!-- Comment -->
      {% block comment %}
      <h3 class="mb-4 font-weight-light">Comments</h3>
      {% get_comment_list for book as comment_list %}
      {% for comment in comment_list|fill_tree|annotate_tree %}
        <div class="comments col-md-9" id="comments">
            <!-- comment -->
            <div class="comment mb-2 row">
                <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
                    <a href=""><img class="mx-auto rounded-circle img-fluid" src="{{ user.profile.image.url }}" alt="avatar"></a>
                </div>
                <div class="comment-content col-md-11 col-sm-10">
                    <h6 class="small comment-meta">{{ comment.name }} -- {{ comment.submit_date }}</h6>
                    <div class="comment-body">
                        <p> {{ comment.comment|linebreaks }}
                            <a href="" class="text-right small"><i class="ion-reply"></i> Reply</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
      {% endfor %}
      {% render_comment_form for book %}
      {% endblock comment %}
      <!-- Chpater -->
      {% block chapter %}
      <h4>Chapters</h4>
      {% for chapter in book.chapters.all %}
          <a class="mr-6" href="{% url 'chapter-detail' chapter.id %}" ><span class="badge badge-info" >{{chapter}}</span></a> |
      {% endfor %}
      
      {% endblock chapter %}