{% extends 'user/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load comments %}
<div class="row">
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-3">
        {% block image %}
        {% endblock image %}
      </div>
      <div class="col-md-4">
        {% block name %}
        {% endblock name %}
      </div>
      <div class="col-md-3">
        {% block rating %}
        {% endblock rating %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        {% block author %}
        {% endblock author %}
      </div>
      <div class="col-md-3">
        {% block genre %}
        {% endblock genre %}
      </div>
    </div>
    <div class="row">
      <div class="col">
        {% block comments %}
        {% endblock comments %}
      </div>
    </div>
    <div class="row">
      <div class="col">
        {% block commentform %}
        {% endblock commentform %}
      </div>
    </div>
  </div>
  <div class="col-md-2">
    {% block chapter %}
    {% endblock chapter %}
  </div>
</div>
{% endblock content %}



