{% extends 'user/base.html' %}
{% block content %}
<div style="padding-top: 2vh;">
    <form class="form-inline my-2 my-lg-0" method="GET">
        <div class="input-group-prepend">
            <span class="input-group-text">@</span>
        </div>
        <input type="search" class="form-control mr-sm-2" placeholder="Genre" aria-label="Search" name="q" value="{{ request.GET.q }}" size="31">
        <button class="btn btn-outline-dark" type="submit" value="Submit">Search</button>
    </form>
    {% for genre in genres %}
        <a class="mr-6" href="{% url 'genre-book' genre %}" style="padding-right:1vh;"><span class="badge badge-info">{{genre}}</span></a>
    {% endfor %}
</div>
{% endblock content %}